@charset "UTE-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');

/* font-family: 'Oswald', sans-serif; */
*{margin: 0; padding: 0;
font-family: 'Oswald', sans-serif;}

#wrap{
    background: url(images/)no-repeat;
    height: 100vh;
}


.slick{}
.slick>div{position: relative; height: 100vh;}
.slick>div h2{position: absolute; font-size: 230px;
letter-spacing: 30px; line-height: 270px;}
.slick>div img{position: absolute; left: 0; top: 0;
    width: 1000px;}
.slick>div .right{}